*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    height: 300px;
    width: 400px;
    background-color: azure;
    position: relative;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 150px;
    top: 100px;
    border-radius: 100%;
}